.footer {
  background-color: black;
  color: white;
  width: 100%;
}


.footer .container {
  padding: 30px 0px;
}

.footer p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
  